{% extends 'account/base_register.html' %}
{% load static %}

{% block title %}
Password Change Form
{% endblock %}


{% block content%}

<!-- <div class="right-register"> -->
<div class="pcoded-main-container">
    <h4><b>Password Change</b></h4>
    <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="register-card">
                        <!-- <div class="card-header">
                                                <h4><b>Scholar</b></h4>
                                            </div> -->
                        <div class="card-body">
                            <h5><b>Password Change Form</b></h5>
                            <hr>


                            <div class="row">

                                <div class="form-group">
                                    {{ form.as_p }}



                                    <button type="submit" class="btn btn-primary" style="width: 70%;">Change
                                        Password</button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}