{% extends 'main/base.html' %}

{% block title %}
Staff Detail ({{ staff_detail }})
{% endblock%}

{% block content%}
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Staff</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'main:staff-list'%}"><i
                                                class="feather icon-home"></i>Staff List</a></li>
                                    <!-- <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <!---->

                <p>

                <h5> Staff Detail ({{ staff_detail }})</h5>
                <p>Username: {{ staff_detail }}</p>
                <p>First Name: {{ staff_detail.user.first_name }}</p>
                <p>Last Name: {{ staff_detail.user.last_name }}</p>
                <p>Email: {{ staff_detail.user.email }}</p>
                <p>Staff Position: {{ staff_detail.staff_position }}</p>


                </p>

            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    </div>
    </div>
    </div>
</section>
{% endblock%}