{% extends 'account/base_register.html' %}
{% load static %}

{% block title %}
Staff Position Registration Form
{% endblock %}


{% block content%}

<!-- <div class="right-register"> -->
<div class="pcoded-main-container">
    <h4><b><a class="scholar-register" href="{% url 'main:index' %}">Scholar</a></b></h4>
    <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="register-card">
                        <!-- <div class="card-header">
                                            <h4><b>Scholar</b></h4>
                                        </div> -->
                        <div class="card-body">
                            <h5><b>Staff Position Registration</b></h5>
                            <hr>


                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">

                                        {{form.position}}
                                        <div class="text-danger">{{ form.position.errors }}</div>

                                    </div>

                                    <div>
                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </div>

                                </div>
                            </div>
                            <p class="mb-0 text-muted" style="text-align: center;">Get back to staff page: <b><a
                                        style="color:black;" href="{% url 'main:staff-page' %}">Staff Page</a></b></p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}