{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Password Change Done
{% endblock %}

{% block content %}

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <p style="text-align: center; font-size: 17px;">
      Your password has been changed. You may go ahead and <a href="{% url 'main:index' %}"><b>Log In</b> </a>from our
      home page now.
    </p>

    <p style="text-align: center; color:black; font-size: 30px;">
      <a href="{% url 'main:index' %}"><b>Scholar</b> </a>
    </p>
  </div>
</div>

{% endblock %}